# dist
dist

# local env files
.env*

# typescript
*.tsbuildinfo

# certificates
certificates

# debug
npm-debug.log*

# dependencies
node_modules

# misc
.DS_Store
*.pem

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - Other
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
